<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>VueJS Simple Game - Who Reaches Zero First</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <div id="vue-element">
      <div class="flex-container">
        <div class="health-meter-container">
          <div class="health-meter health-meter-you">
            <h3>YOU</h3>
            <div class="meter meter-you"><div class="health-count health-count-you" v-bind:style="{width: healthYou + '%'}">{{ healthYou }}</div></div>
          </div><!--health-meter-you-->
          <div class="health-meter health-meter-moster">
            <h3>COMPUTER</h3>
            <div class="meter meter-monster"><div class="health-count health-count-monster" v-bind:style="{width: healthCom + '%'}">{{ healthCom }}</div></div>
          </div><!--health-meter-moster-->
        </div><!--health-meter-->
        <div class="action-buttons">
          <div class="start-game-buttons" v-if="startGame">
            <button v-on:click="startGame = !startGame">Start Game</button>
          </div><!--start-game-buttons-->
          <div class="running-game-buttons" v-else>
            <button v-on:click="attack()">Attack</button> <button v-on:click="starNewtGame()">Start New Game</button>
          </div><!--running-game-buttons -->
        </div>
        <div class="action-logs" v-if="logs.length > 0">
          <h3>Attack Logs</h3>
          <li v-for="log in logs">{{ log }}</li>
        </div><!--action-logs-->
      </div><!--flex-container-->
    </div>
  </div>
<script src="js/vue-min.js"></script>
<script src="js/app.js"></script>
</body>
</html>